<template>
  <q-page padding>
    <div class="h5 q-pa-md">
     Create New Establishments
    </div>
    <q-form
      @submit="onSubmit"
      @reset="onReset"
      class="q-gutter-md"
    >
      <q-input
        filled
        v-model="name"
        label="Establishment Name"
        lazy-rules
        :rules="[ val => val && val.length > 0 || 'Please type something']"
      />

      <q-input
        filled
        v-model="address"
        label="Address Name"
        lazy-rules
        :rules="[ val => val && val.length > 0 || 'Please type something']"
      />

      <q-toggle v-model="accept" label="I accept the license and terms" />

      <div>
        <q-btn label="Submit" type="submit" color="primary"/>
        <q-btn label="Reset" type="reset" color="primary" flat class="q-ml-sm" />
      </div>
    </q-form>
  </q-page>
</template>

<script>
import { db } from 'boot/firebase'


export default {
  data () {
    return {
      name: null,
      address: null,

      accept: false
    }
  },

  methods: {
    async onSubmit () {
      console.log(this.name, this.address)
      await db.collection("establishments").add({
        name: this.name,
        address: this.address
      })
      if (this.accept !== true) {
        this.$q.notify({
          color: 'red-5',
          textColor: 'white',
          icon: 'warning',
          message: 'You need to accept the license and terms first'
        })
      }
      else {
        this.$q.notify({
          color: 'green-4',
          textColor: 'white',
          icon: 'cloud_done',
          message: 'Submitted'
        })
      }
    },

    onReset () {
      var docRef = db.collection("establishments").doc("GfqFIQbIEElmsJmmxbsM");

      docRef.get().then((doc) => {
        console.log(this.name, this.address)
        if (doc.exists) {
            console.log("Document data:", doc.data());
        } else {
            // doc.data() will be undefined in this case
            console.log("No such document!");
        }
        }).catch((error) => {
          console.log("Error getting document:", error);
      });

      this.name = null
      this.address = null
      this.accept = false
    }
  }
}
</script>
