<template>
  <q-page padding>
    <q-form
      ref="signupForm"
      @submit="onSubmit"
      class="q-gutter-md row justify-center"
    >
      <q-card
        style="width: 40%; background: #25476C"
        flat
        class="fixed-center text-white q-pa-lg"
      >
        <q-card-section class="q-py-none">
          <div class="text-h5">Sign Up</div>
          <q-space />
        </q-card-section>

        <q-card-section>
          <q-input
            dark
            color="white"
            v-model="firstName"
            label="First Name"
            lazy-rules
            :rules="[ val => val && val.length > 0 || 'Please input your first name']"
          />

          <q-input
            dark
            color="white"
            v-model="lastName"
            label="Last Name"
            lazy-rules
            :rules="[ val => val && val.length > 0 || 'Please input your last name']"
          />

          <q-input
            dark
            color="white"
            v-model="email"
            label="Email"
            lazy-rules
            :rules="[ val => val && val.length > 0 || 'Please input your email']"
          />

          <q-input
            v-model="password"
            dark
            color="white"
            :type="!isPwd ? 'text' : 'password'"
            label="Password"
            :rules="[ val => val && val.length > 0 || 'Please input your password']"
          >
            <template v-slot:append>
              <q-icon
                :name="isPwd ? 'visibility_off' : 'visibility'"
                class="cursor-pointer"
                @click="isPwd = !isPwd"
              />
            </template>
          </q-input>

          <q-input
            v-model="passwordConfirm"
            dark
            color="white"
            type="password"
            label="Confirm Password"
            debounce="1000"
            :rules="[ passwordConfirmationRule ]"
          >
          </q-input>

          <q-field
            :value="accept"
            :rules="[ value => value || 'Please accept our user agreement']"
            borderless
            class="q-ma-none q-py-none"
            dense
            dark
            color="white"
          >
            <template v-slot:control>
              <q-checkbox
                dark
                class="q-ma-none q-py-none"
                dense
                v-model="accept"
                label="Do you accept our user agreement?"
                color="primary"
              />
            </template>
          </q-field>

        </q-card-section>
        <q-card-section>
          <q-btn
            class="full-width"
            label="Sign Up"
            type="submit"
            color="primary"
            :loading="btnLoading"
          />
        </q-card-section>
        <q-card-section class="text-right q-py-none">
          <div>
            <span class="text-subtitle text-grey">Already have an account? </span>
            <span
              class="text-weight-medium"
              @click="$router.push({name: 'sign-in'})"
              style="cursor: pointer"
            >Sign In here!</span>
          </div>
        </q-card-section>
      </q-card>

    </q-form>
  </q-page>
</template>

<script>
import { mapActions } from 'vuex'

import notifyMixin from 'src/components/mixins/notifyMixin'
import loadingMixin from 'src/components/mixins/loadingMixin'

export default {
  // name: 'PageName',
  data () {
    return {
      accept: false,
      isPwd: true,
      firstName: '',
      lastName: '',
      email: '',
      password: '',
      passwordConfirm: '',
      btnLoading: false
    }
  },
  mixins: [notifyMixin, loadingMixin],
  methods: {
    ...mapActions('userAuth', ['signUserUp']),
    passwordConfirmationRule () {
      return new Promise((resolve, reject) => {
        setTimeout(() => {
          resolve(
            (this.password === this.passwordConfirm && this.password !== '') ||
              'Please Confirm Password'
          )
        }, 100)
      })
    },
    async onSubmit () {
      this.$refs.signupForm.validate().then(async () => {
        this.showLoading(
          `Registering User </b>(${this.email})<br/>Please Wait...`
        )
        this.btnLoading = true
        const { firstName, lastName, displayName, email, password } = this
        const redirectPath = this.$route.query.redirect || '/'

        try {
          await this.signUserUp({
            firstName,
            lastName,
            displayName,
            email,
            password
          })
            .then(() => {
              this.showLoading(`User Registered! Rerouting!`)
              this.successNotif('Succesfully Registered User!')
              this.$router.push(redirectPath)
            })
            .catch((err) => {
              console.log(err)
              this.errorNotif(err.message)
            })
          this.btnLoading = false
        } catch (err) {
          console.log(err)
        }
        this.hideLoading()
      })
    }
  },
  computed: {
    isPasswordConfirmed () {
      return this.password !== '' && this.password === this.passwordConfirm
    },
    displayName () {
      return `${this.firstName} ${this.lastName}`
    }
  }
}
</script>
