<template>
  <q-page padding>
    <q-form
      ref="signinForm"
      @submit="onSubmit"
      class="q-gutter-md row justify-center"
    >
      <q-card
        style="width: 30%; background: #25476C"
        flat
        class="fixed-center col-xs-10 col-sm-10 col-md-8 col-lg-5 text-white q-pa-lg"
      >
        <q-card-section>
          <div class="text-h6">Log in</div>
          <q-space />
        </q-card-section>

        <q-card-section>
          <q-input
            class="q-mb-sm"
            dark
            @input="error = ''"
            v-model="email"
            label="Email"
            color="white"
            lazy-rules
            :rules="[ val => val && val.length > 0 || 'Please input your email']"
          >
            <template v-slot:prepend>
              <q-icon
                name="email"
                color="white"
              />
            </template>
          </q-input>

          <q-input
            class="q-mb-sm"
            dark
            v-model="password"
            @input="error = ''"
            color="white"
            :type="!isPwd ? 'text' : 'password'"
            label="Password"
            :rules="[ val => val && val.length > 0 || 'Please input your Password']"
          >
            <template v-slot:prepend>
              <q-icon
                name="lock"
                color="white"
              />
            </template>
            <template v-slot:append>
              <q-icon
                :name="isPwd ? 'visibility_off' : 'visibility'"
                class="cursor-pointer"
                @click="isPwd = !isPwd"
              />
            </template>
          </q-input>

        </q-card-section>
        <q-card-section>
          <q-btn
            class="full-width"
            label="Login to your account"
            type="submit"
            color="primary"
            :loading="btnLoading"
          />
        </q-card-section>
        <q-card-section class="text-right q-py-none">
          <div>
            <span class="text-subtitle text-grey">New Here? </span>
            <span class="text-weight-medium" @click="$router.push({name: 'sign-up'})" style="cursor: pointer">Sign Up!</span>
          </div>
        </q-card-section>
          <!-- <q-btn
            label="Sign Up"
            color="primary"
            flat
            @click="$router.push({name: 'sign-up'})"
          /> -->
      </q-card>

    </q-form>
  </q-page>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

import notifyMixin from 'src/components/mixins/notifyMixin'
import loadingMixin from 'src/components/mixins/loadingMixin'

export default {
  // name: 'PageName',
  data () {
    return {
      email: '',
      password: '',
      accept: false,
      isPwd: true,
      btnLoading: false
    }
  },
  mixins: [notifyMixin, loadingMixin],
  computed: {
    ...mapGetters('userAuth', ['userSignedIn'])
  },
  methods: {
    ...mapActions('userAuth', ['signUserIn']),
    onSubmit () {
      this.$refs.signinForm.validate().then(async () => {
        this.btnLoading = true
        this.showLoading(
          `Signing <b>User</b> (${this.email})<br/>Please Wait...`
        )
        const redirectPath = this.$route.query.redirect || '/'

        try {
          await this.signUserIn({ email: this.email, password: this.password })
            .then(() => {
              this.showLoading(`User Signed In! Rerouting!`)
              this.btnLoading = false
              this.successNotif('Succesfully Signed In!')
              this.$router.push(redirectPath)
            })
            .catch((err) => {
              console.log(err)
              this.errorNotif(err.message)
              this.btnLoading = false
            })
          this.hideLoading()
        } catch (err) {
          console.log(err)
        }
      })
    }
  }
}
</script>
