<template>
  <div>
    
    <q-btn
      round
      flat
    >
      <q-avatar size="50px">
        <img src="https://cdn.quasar.dev/img/boy-avatar.png">
      </q-avatar>
      <q-menu>
        <q-card class="float-right">
          <div class="row no-wrap q-pa-md">
            <div
              class="column items-center"
              style="width: 200px"
            >
              <q-avatar
                size="72px"
                style="cursor: pointer"
              >
                <img src="https://cdn.quasar.dev/img/boy-avatar.png">
              </q-avatar>

              <div
                v-if="userSignedIn"
                class="column items-center"
              >
                <div class="text-subtitle1 q-mt-md">{{ authedUser.displayName }}</div>
                <div class="text-caption">({{ authedUser.email }})</div>

                <q-separator class="q-my-md" />

                <q-btn
                  color="primary"
                  class="full-width"
                  label="Logout"
                  size="md"
                  @click="signOutAndExit()"
                  v-close-popup
                />
              </div>
              <div v-else>
                <q-list class="q-pa-md">
                  <q-btn
                    color="primary"
                    class="full-width"
                    label="Sign In"
                    size="md"
                    :to="{name: 'sign-in'}"
                    v-close-popup
                  />
                  <q-separator inset></q-separator>
                  <q-btn
                    color="primary"
                    class="full-width q-mt-sm"
                    label="Sign Up"
                    size="md"
                    :to="{name: 'sign-up'}"
                    v-close-popup
                  />
                </q-list>

              </div>
            </div>
          </div>
        </q-card>
      </q-menu>
      <q-tooltip>Account</q-tooltip>
    </q-btn>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

import notifyMixin from 'src/components/mixins/notifyMixin'

export default {
  data () {
    return {
    }
  },
  mixins: [notifyMixin],
  methods: {
    ...mapActions('userAuth', ['signUserOut', 'checkIfUserSignedIn']),
    signOutAndExit () {
      this.signUserOut()
      this.successNotif("Succesfully Signed Out!")
      this.$router.push({ name: 'landing-page' })
    }
  },
  computed: {
    ...mapGetters('userAuth', ['userSignedIn', 'authedUser'])
  },
  async created () {
    // await this.checkIfUserSignedIn()
  }
}
</script>
