<template>
  <q-layout view="hHh lpR fFf">

    <q-header elevated class="bg-primary text-white">
      <q-toolbar>
        <q-toolbar-title>
          <q-avatar>
            <img src="https://cdn.quasar.dev/logo/svg/quasar-logo.svg">
          </q-avatar>
          Covid Monitoring App
        </q-toolbar-title>
        <q-space></q-space>
        
        <base-toolbar-dropdown></base-toolbar-dropdown>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>

    <q-footer elevated class="bg-grey-8 text-white">
      <q-toolbar>
        <q-toolbar-title>
          Covid Monitoring App
        </q-toolbar-title>
      </q-toolbar>
    </q-footer>

  </q-layout>
</template>

<script>
import BaseToolbarDropdown from 'src/components/BaseToolbarDropdown'

export default {
  components: {BaseToolbarDropdown},
  data () {
    return {
    }
  }
}
</script>